@font-face {
    font-family: Gloss and Bloom;
    src: url(./Fonts/gloss_and_bloom/Gloss_And_Bloom.ttf);
}

h1 {
    font-family: Gloss and Bloom;
}
.navbar {
    font-family: Gloss and Bloom;

}
.btn {
    font-weight: bold;
}
p {
    font-weight: bold;
}
.row {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flexbox-item {
    padding: 20px;
}

#pizzasImg {
    /* margin-top: -50px;
    margin-bottom: -30px; */
}

#footer{
    font-family: Gloss and Bloom;
    justify-content: center;

}

#CopyR {
    text-align: center;
}
@media (max-width: 991px) {
    #masaSteps {
        display: block;
    }
    #pizzasImg {
        /* display: block;   */
    }
}

@media (max-width: 767px) {
    #buttons {
    }
}